@model CPK.Sso.Models.ManageViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Смена пароля";
}

<div class="container forgot-password-container">
    <div class="page-header">
        <h1>Смена пароля</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            @if (Model?.EmailSent != true)
            {
                <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Отправить" class="btn btn-primary"/>
                    </div>
                </form>
            }
            else
            {
                <p>На @Model.Email выслана ссылка для сброса пароля.</p>
            }
        </div>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}