<div>
    <a href="admin">Административная панель</a>
    <button @onclick="ToggleNavMenu">Menu</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul>
        <li>
            <NavLink class="nav-link" href="admin/categories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Категории продуктов
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="admin/products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Продукты
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="admin/news">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Новости
            </NavLink>
        </li>
    </ul>
</div>

@code { private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    } }
