@using CPK.Spa.Client.Shared
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @*<HandleAccessDenied />*@
                    <NotAuthorizedManager />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Ой. По данному адресу ничего не найдено.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>