app {
  display: grid;
  grid-template-areas: "header header header" "nav article ads" "footer footer footer";
  grid-template-rows: 100px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0; }

#pageHeader {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo basket auth";
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 100px;
  grid-gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ebe6cf;
  z-index: 10; }

#pageFooter {
  grid-area: footer; }

#mainArticle {
  grid-area: article; }

#mainNav {
  grid-area: nav; }

#siteAds {
  grid-area: ads; }

#mainLogo {
  grid-area: logo;
  place-self: center center; }
  #mainLogo .logo-icon {
    max-height: 100px; }

#basketWidget {
  grid-area: basket;
  place-self: center end; }

#authDisplay {
  grid-area: auth;
  place-self: center; }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem; }

@media all and (max-width: 768px) {
  app {
    grid-template-areas: "header" "nav" "article" "ads" "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr; }
  #pageHeader {
    grid-template-areas: "logo" "basket auth";
    grid-template-columns: 1fr 1fr; } }
