@import 'variables';

app {
    display: grid;
    grid-template-areas: "header header header" "nav article ads" "footer footer footer";
    grid-template-rows: $header_height 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

#pageHeader {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo basket auth";
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: $header_height;
    grid-gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $header_color;
    z-index: 10;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}

#mainLogo {
    grid-area: logo;
    place-self: center center;

    .logo-icon {
        max-height: $header_height;
    }
}

#basketWidget {
    grid-area: basket;
    place-self: center end;
}

#authDisplay {
    grid-area: auth;
    place-self: center;
}

@media all and (max-width: 768px) {
    app {
        grid-template-areas: "header" "nav" "article" "ads" "footer";
        grid-template-rows: 80px 1fr 70px 1fr 70px;
        grid-template-columns: 1fr;
    }

    #pageHeader {
        grid-template-areas: "logo" "basket auth";
        grid-template-columns: 1fr 1fr;
    }
}
