<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ЦПК Сервер идентификации</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavBarPartial")
    </header>
<div>
    @RenderBody()
    <br/><br/>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    2020 - @DateTime.UtcNow.Year
                </div>
            </div>
        </div>
    </footer>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("scripts", required: false)
</body>
</html>