@if (!string.IsNullOrWhiteSpace(Model))
{
    <div class="text-danger">
        <h4>Произошла ошибка</h4>
        <p>Обновите вкладку и повторите позже или обратитесь в поддержку с текстом ошибки:</p>
        <p>@Model</p>
    </div>
}

@code 
{
    [Parameter]
    public string Model { get; set; }
}
