@inherits LayoutComponentBase

    <header id="pageHeader">
        <div id="mainLogo">
            <img class="logo-icon" src="/images/logo-cpk.png" alt="Logo">
        </div>
        <div id="basketWidget">
            <BasketWidget />
        </div>
        <div id="authDisplay">
            <LoginDisplay />
        </div>
    </header>

<article  id="mainArticle">
    <div class="content px-4">
        @Body
    </div>
</article>

<nav id="mainNav">
    <NavMenu />
</nav>

<div id="siteAds"></div>

<footer id="pageFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                2020 - @DateTime.UtcNow.Year
            </div>
        </div>
    </div>
</footer>
