<div>
    <a href="">ЦПК</a>
    <button @onclick="ToggleNavMenu">Menu</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="basket">
                <span class="oi oi-cart" aria-hidden="true"></span> Basket
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="orders">
                <span class="oi oi-document" aria-hidden="true"></span> Orders
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="video">
                <span class="oi oi-document" aria-hidden="true"></span> Video test
            </NavLink>
        </li>
        <li>
            <AuthorizeView>
                <Authorized>
                    Авторизован
                </Authorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code { private bool collapseNavMenu = true;

            private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            } }
