@inject NavigationManager NavigationManager
@if (IsAuthenticated)
{
    <h1>Доступ запрещен.</h1>
}

@code{
    protected bool IsAuthenticated;
    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authenticationState = await AuthenticationStateTask;

        if (authenticationState?.User?.Identity is null ||
           !authenticationState.User.Identity.IsAuthenticated)
        {
            string returnUrl = NavigationManager.Uri;

            if (string.IsNullOrWhiteSpace(returnUrl) ||
               returnUrl.Equals(NavigationManager.BaseUri))
            {
                NavigationManager.NavigateTo("authentication/login");
            }
            else
            {
                NavigationManager.NavigateTo($"authentication/login?returnUrl={returnUrl}");
            }
        }
        else
            IsAuthenticated = true;
    }
}
